:root{
    --vanita-color: #BF3CBF;
    --background-blueis:#1b1b32;
}
header {
    
    min-width: 100%;
    min-height: 100px;
    max-height: 200px;
    
}
#shoppingCar{
position: absolute;
right: 5%;
height: 50%;
}

#login_button, #shoppingCar{
    position: absolute;
    right: 5%;
    
}
#register_button{
    position: absolute;
    right: 9%;
}

body {
    background-color: #1b1b32;
    color: #f5f6f7;
    margin: auto;
    font-family: 'Avenir', sans-serif;

    }

h1 {
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    font-family: serif;
    color: var(--vanita-color);
    
    
}


p{
    text-align: center;
    padding: 1px;
    margin-top:-15px

}

.row {
    display: flex;
}

.navbar {
    display: flex;
    flex-direction: row;
    top: 0px;

}

.column {
    flex: 33%;
    padding: 50px;
    align-items: center;

}
.nabvar-items {

    background-color: transparent;
    border: transparent;
    font-size: 1.40rem;
    font-weight: italic;
    display: block;
    float: center;
    overflow: hidden;

}
.grid-container {
    display:grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: auto auto auto;
    justify-content:center;
    border-color: #0000;
    margin: 10px;

}
a{

    color: white;
}
a:hover{
    color: #000000;
}

ol{
    padding-left: 5px;
    margin-left: 5px;
    
}
.grid-item {
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding:0px;
    border-radius: 0px 0px 12px 12px;
    text-align: center;
    background-color: #0000;

    }
.card{
    background-color: rgba(0, 0, 0, 0) ;
    opacity: 1;
    width: 400px;


}
#section-carousel{
    height: 600px;
    width: 100%;
    display: grid;
}
.card-img-top{
    object-fit: cover;
    min-width: 400px;
    max-width: 400px;
    min-height:400px;
    max-height:400px;
    text-align: center;
}
img {
    display: flex;
    /*width: 50%;
    height: 100%;*/

    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 12px 12px;

}

.button{
    background-color: #000000;
    color: black;
}
.carousel-inner{
    display: block;
}

    .carousel-item{
    /*height: 100%;
    width: 100%;*/
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-57%, 0%);
    min-width: 600px;
    max-width: 600px;
    min-height:600px;
    max-height:600px; 
    border-radius: 15px;
   }
   .carousel-item img{
    max-height: 600px;
    max-width: 600px;
    border-radius: 15px;
    object-fit: fill;
   }


.carousel-control-prev{
    color: black;
}
form {
    text-align: center;
    width: 30%;
    max-width: 800px;
    min-width: 200px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
fieldset {
    border: none;
    border-bottom: 3px solid #3b3b4f;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
label {
    display: block;
    margin: 0.5rem 0;
    text-align: left;
  }
textarea{
    width: 100%;
    border-radius: 12px;
    height: 100px;
  }
input{
    width: 100%;
    border-radius: 12px;
    height: 40px;
}
input[type="button"], input[type="reset"]{
    width: 49%;
    height: 100%;
}
.grid{
    color: #0000;
}
#logo_vanita{
    width: 13%;
    height: 250%;
    position:absolute;
    align-items: center;
    margin-top: -60px;
    top: 1%;
    left: 43%
    
 
}
.d-block{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    max-width: 700px;
    max-height: 450px;
    min-width: 700px;
    min-height: 450px;
    object-fit: cover;
}
.btn-success{
    background-color:#8E38D9;
    border: 0;
    
}
.btn-success:hover{
    background-color: #E53361;
}
#btn-submit{
    color: #000;
    border: 0;
}
#btn-reset{
    background-color: #E53361;
    border: 0;
}
#btn-reset:hover{
    background-color: #8E38D9;
}

table{
    width: 80%;
    justify-content: center;
    position: relative;
    left: 10%;
    

}
#tablehead{
    height: 50px;
    
}
td{
    border: 5px solid white;
    height: 300px;
    text-align:center;
}
#grid-img{
    object-fit: cover;
    border-radius: 30px;
    padding: 20px;
}
.videos{
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 12px;
    @media (max-height){
        display: block;
    }
}
.producto{
    max-width: 20%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}
.grid-videos{
    align-items: center;
    text-align: center;
}
video{
    height: 500px;
    width: 700px;
    background-color: #000000;
    border-radius: 12px;
     }
 .icons{
        display: flex;
        column-gap: 12px;
        justify-content: right;
        
    }
 .icon{
        width: 50px;
        height: 50px;
        text-decoration: none;
        font-size: 26px;
        color: #fff;
        border-radius: 50%;
        outline: 2px solid #fff;
        transition-property:outline-offset, outline-color, background-color;
        transition-duration: .25s;
        vertical-align: middle;
        position: fixed;
        
    }
    
    .icon:hover{
        outline-offset: 4px;
        animation: shake .25s;
    }
    
    .icon:hover i{
        animation: shake .25s;
    }
    
    .icon--instagram:hover{
        background-image:
        radial-gradient(circle at 30% 107%,
        #fdf497 0%, #fdf497 5%,
        #fd5849 45%, #d6249e 60%,
        #2859eb 90%);
        outline-color: #a02d76;
    
    }
    .icon--meta:hover{
        background-color: #1da1f2;
        outline-color: #1da1f2;
    
    }
    .icon--whatsapp:hover{
        background-color: #0C6614;
        outline-color: #2ea44f;
    }
    @keyframes shake {
        10%{transform: rotate(15deg);}
        20%{transform: rotate(-15deg);}
        30%{transform: rotate(15deg);}
        40%{transform: rotate(-15deg);}
    }
    aside{
        justify-content: right;
        border: 10px 0px;
        padding-right: -10px;
        position: fixed;
        left: 98%;
        z-index: 4;
    }
    #insta{
        margin-top: -7px;
        top: 40%;
        z-index: 4;
   }    

    #meta{
        margin-top: 10px;
        top: 45%;
        z-index: 4;
        object-fit:fill;
    }
    #whatsapp{
        margin-top: 25px;
        top: 50%;
        z-index: 4;
    }

