<link href="/static/styles.css" rel="stylesheet">
<style>
    body{
        height: 100%;
        width: 100%;
        justify-content: center;
        padding-top: 10%;
    }
    #logo_vanita-login{
        display: flex;
        width: 14%;
        height: 28%;
        margin-top: -200px;
    }
    #button-login{
        height: 50px;
        width: 100px;
        border-radius: 15px;
    }


</style>
<img id="logo_vanita-login" src="../static/imgvid/vanita-positivo.png">
<form action="/login" method="post">
    <div>
        <input id="username" name="username" placeholder="Username" type="text">
    </div>
    <br>
    <div>
        <input id="password" name="password" placeholder="Password" type="password">
    </div>
    <br>
    <button id="button-login" type="submit" class="btn btn-success">Log In</button>
    <button id="button-login" type="button" class="btn btn-success"> <a href="/">Homepage</a></button>
</form>

