<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=devive-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"crossorigin="anonymous"></script>
    <link href="/static/styles.css" rel="stylesheet">
    <title> Products </title>
    <link  rel="icon" type="icon" href="../static/imgvid/vanita insumo-positivo.png">
    <script src="/static/js/script.js" rel="script"></script>
    <script src="/static/js/inventory.js" rel="script"></script>
</head>
<body>
  <script src="/static/js/inventory.js" rel="script"></script>
      <section >
        <!-- Botones para navegar entre paginas -->
        <header class="navbar">
            <ol role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-success"> <a href="/">Homepage</a></button>
                <button type="button" class="btn btn-success"> <a href="/contact">Contact</a></button>
            </ol>
            <img id="logo_vanita" src="../static/imgvid/vanita-positivo.png">
            <img id="shoppingCar" src="../static/imgvid/carrito.png" alt="carrito">
            <br>
        </header>
    </section>
    <main>
       <fieldset></fieldset>      
       <div>
        <!--Iconos de redes sociales-->
        <aside id="insta" onclick="instaLink()" class="icons">
            <img src="{{url_for('static', filename='imgvid/instagram.png')}}" class="icon icon--instagram" alt="intagram">
                <i class="ri-instagram-line"></i>
            </a>
        </aside>
        <aside id="meta" class="icons">
            <img src="{{url_for('static', filename='imgvid/meta.png')}}" class="icon icon--meta" alt="meta">
                <i class="ri-meta-line"></i>
            </a>
        </aside>
        <aside id="whatsapp" onclick="whatsappLink()" class="icons">
            <img src="{{url_for('static', filename='imgvid/whatsapp.png')}}" class="icon icon--whatsapp" alt="whatsapp">
                <i class="ri-whatsapp-line"></i>
            </a>
        </aside>
        </div>
        <!--Cartas , productos -->
      <section class="grid-container">
        <!-- Primer Producto-->
        <div class="grid-item">
          <div class="card">
            <img src="{{url_for('static', filename='imgvid/RuborYLabialVelvet.jpg')}}" class="card-img-top" alt="Tinta Glossy">
            <div class="card-body">
              <h5 class="card-title">Tinta Glossy</h5><br>
              <p class="card-text">TINTA GLOSSY BEAUTY GLAZED REF B102</p><br>
              <p class="card-text">Precio: $12.000 COP</p>
              <a href="#" class="btn btn-primary">Add to the shoppingcar</a>
            </div>
          </div>
          </div>
          <!-- Segundo Producto-->
            <div class="grid-item">
            <div class="card">
              <img src="{{url_for('static', filename='imgvid/Soft-Lips.jpg')}}" class="card-img-top" alt="Soft Lips">
              <div class="card-body">
                <h5 class="card-title">Soft Lips</h5><br>
                <p class="card-text">SOFT LIPS INDIVIDUAL HIDRATANTE CON COLOR</p><br>
                <p class="card-text"> Precio: $6.000 COP</p>
                <a href="#" class="btn btn-primary">Add to the shoppingcar</a>
              </div>
            </div>
            </div>
            <!-- Tercer Producto-->
              <div class="grid-item">
              <div class="card" >
                <img src="{{url_for('static', filename='imgvid/ContornoCupcake.jpg')}}" class="card-img-top" alt="Contorno">
                <div class="card-body">
                  <h5 class="card-title">Contorno</h5><br>
                  <p class="card-text">CONTORNO CUPCAKE TRENDY REF CC01</p><br>
                  <p class="card-text"> Precio: $15.000 COP</p>
                  <a href="#" class="btn btn-primary">Add to the shoppingcar</a>
                </div>
              </div>
              </div>
              <!-- Cuarto Producto-->
              <div class="grid-item">
                <div class="card" >
                  <img src="{{url_for('static', filename='imgvid/espumaDesmaquillante.jpg')}}" class="card-img-top" alt="Contorno">
                  <div class="card-body">
                    <h5 class="card-title">Espuma Desmaquillante</h5><br>
                    <p class="card-text">???</p><br>
                    <p class="card-text"> Precio: $25.000 COP</p>
                    <a href="#" class="btn btn-primary">Add to the shoppingcar</a>
                  </div>
                </div>
                </div>
                <!-- Quinto Producto-->
                <div class="grid-item">
                  <div class="card" >
                    <img src="{{url_for('static', filename='imgvid/polvoTraslucido.jpg')}}" class="card-img-top" alt="Contorno">
                    <div class="card-body">
                      <h5 class="card-title">Polvos Traslucidos</h5><br>
                      <p class="card-text">???</p><br>
                      <p class="card-text"> Precio: $12.000 COP</p>
                      <a href="#" class="btn btn-primary">Add to the shoppingcar</a>
                    </div>
                  </div>
                  </div>
                  <!-- Sexto Producto-->
                  <div class="grid-item">
                    <div class="card" >
                      <img src="{{url_for('static', filename='imgvid/polvosSueltos.jpg')}}" class="card-img-top" alt="Contorno">
                      <div class="card-body">
                        <h5 class="card-title">Polvos Sueltos</h5><br>
                        <p class="card-text">???</p><br>
                        <p class="card-text"> Precio: $20.000 COP</p>
                        <a href="#" class="btn btn-primary">Add to the shoppingcar</a>
                      </div>
                    </div>
                    </div>
                    <!-- Septimo Producto-->
                    <div class="grid-item">
                      <div class="card" >
                        <img src="{{url_for('static', filename='imgvid/correctoYtratamiento.jpg')}}" class="card-img-top" alt="Contorno">
                        <div class="card-body">
                          <h5 class="card-title">Correcto y Tratamiento Trendy</h5><br>
                          <p class="card-text">???</p><br>
                          <p class="card-text"> Precio: $20.000 COP</p>
                          <a href="#" class="btn btn-primary">Add to the shoppingcar</a>
                        </div>
                      </div>
                    </div>
                    <!-- Octavo Producto-->
                    <div class="grid-item">
                      <div class="card" >
                        <img src="{{url_for('static', filename='imgvid/lapizDeCejas.jpg')}}" class="card-img-top" alt="Contorno">
                        <div class="card-body">
                          <h5 class="card-title">Lapiz De Cejas</h5><br>
                          <p class="card-text">???</p><br>
                          <p class="card-text"> Precio: $10.000 COP</p>
                          <a href="#" class="btn btn-primary">Add to the shoppingcar</a>
                        </div>
                      </div>
                      </div>
                      <!-- Noveno Producto-->
                      <div class="grid-item">
                        <div class="card" >
                          <img src="{{url_for('static', filename='imgvid/delineadorDobleTrendy.jpg')}}" class="card-img-top" alt="Contorno">
                          <div class="card-body">
                            <h5 class="card-title">Delineador Doble Trendy</h5><br>
                            <p class="card-text">???</p><br>
                            <p class="card-text"> Precio: $15.000 COP</p>
                            <a href="#" class="btn btn-primary">Add to the shoppingcar</a>
                          </div>
                        </div>
                        </div>
                        <!-- Decimo Producto-->
                        <div class="grid-item">
                          <div class="card" >
                            <img src="{{url_for('static', filename='imgvid/kitDeCejas.jpg')}}" class="card-img-top" alt="Contorno">
                            <div class="card-body">
                              <h5 class="card-title">Kit De Cejas</h5><br>
                              <p class="card-text">???</p><br>
                              <p class="card-text"> Precio: $18.000 COP</p>
                              <a href="#" class="btn btn-primary">Add to the shoppingcar</a>
                            </div>
                          </div>
                          </div>
         
        </section>
        <!--Carrito de comprars-->
        <div id="shopContent" class="shop-content"></div>
        
      </section>
      <fieldset></fieldset>
        <!--Tablas de contenido-->
        <!--<table>
          <thead>
           <tr>
             <td id="tablehead">Products</td>
             <td id="tablehead">Properties</td>
             <td id="tablehead">Price</td>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td>Product1 <img id="grid-img" src="{{url_for('static', filename='imgvid/maq6.jpg')}}"/></td>
             <td>
               <ul>
                 <li>Corrector de Ojeras</li>
                 <li>Tratamiento</li>
                 <li>Corrector de Ojeras</li>
                 <li>Corrector de Ojeras</li>
               </ul>
             </td>
             <td>$15.000 COP</td>
           </tr>
           <tr>
             <td>Product2 <img id="grid-img" src="{{url_for('static', filename='imgvid/maq7.jpg')}}"/></td>

             <td>
               <ul>
               <li>Corrector de Ojeras</li>
               <li>Tratamiento</li>
               <li>Corrector de Ojeras</li>
               <li>Corrector de Ojeras</li>
             </ul>
           </td>
             <td>$20.000 COP</td>
           </tr>
           <tr>
             <td>Product3<img id="grid-img" src="{{url_for('static', filename='imgvid/maq8.jpg')}}"/></td>
             <td>
               <ul>
                 <li>Corrector de Ojeras</li>
                 <li>Tratamiento</li>
                 <li>Corrector de Ojeras</li>
                 <li>Corrector de Ojeras</li>
               </ul>
             </td>
             <td>$35.000 COP</td>
           </tr>
         </tbody>
       </table>-->
       
    </main>
</body>
<footer>
  <p>For more information contact us at (555) 555-55-55</p>
  <p>or fill out this <a href="/contact">form</a></p>
</footer>
<fieldset></fieldset>
</html>