<link href="/static/styles.css" rel="stylesheet">
<link  rel="icon" type="icon" href="../static/imgvid/vanita insumo-positivo.png">
<style>
    body{
        height: 100%;
        width: 100%;
        
        justify-content: center;
        padding-top: 10%;
    }
    #logo_vanita-register{
        margin: auto auto;
        width: 14%;
        height: 28%;
        margin-top: -200px;
    }
    #button-register{
        height: 50px;
        width: 100px;
        border-radius: 15px;
    }

</style>
<h1><img id="logo_vanita-register" src="../static/imgvid/vanita-positivo.png"></h1>
<form action="/register" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
    </div>
    <br>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
    </div>
    <br>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Password (confirmation)" type="password">
    </div>
    <br>
    <button id="button-register" class="btn btn-success" type="submit">Register</button>
    <button id="button-register" type="button" class="btn btn-success"> <a href="/">Homepage</a></button>
</form>

